#login-left {
    width: 60%;
    height: 100vh;
}
#login-page{
    background-color: #67647C;
}
#login-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#login-right{
    /* background-color: #f0f0f0; */
    width: 40%;
    height: 100vh;
    padding-right: 2%;
    padding-top: 2%;
    color: #F1D3B3;
    padding-left: 1%;
}
#checkAcc > span {
    color: #F1D3B3;
}
#login-right > p {
    text-align: right;
}
#login-right > span {
    color: #F1D3B3;
}
#login-right > h1 {
    margin-top: 8%;
    font-size: 300%;
    text-align: left;
}
/* #login-form{
    font-size: 
} */
#login-form > p {
    margin-top: 7%;
    font-size: 120%;
    text-align: left;
    margin-bottom: 2%;
}
#login-form > input{
    display: block;
    background-color: transparent;
    border-color: #5A4739;
    border-width: 3px;
    width: 35.5rem;
    height: 5.1875rem;
    border-radius: 0.9375rem;
    font-size: 2rem;
    padding-left: 2%;
}
#login-button {
    background-color: #8B7E74;
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 10%;
    width: 9rem;
    height: 2.3rem;
    color: #5A4739;
    border-radius: 4px;
    margin-left: 30%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#or-sign-up-line{
    position: relative;
    padding: 1em;
    /* text-align: center; */
    margin-right: 49%;
    margin-top: 3%;
    color: #8B7E74;
    font-size: 110%;
}

#or-sign-up-line::before, #or-sign-up-line::after{
    color: #8B7E74;
    content: "";
    position: absolute;
    height: 1px;
    width: 35%;
    background-color: #C7BCA1;
    top: 50%;
    transform: translateY(-50%);
}

#or-sign-up-line::before{
    left: 20%;
}
#or-sign-up-line::after{
    right: -40%;
}
.logo-box{
    margin-top: 3%;
    width: 50%;
    margin-left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}